.avisopagamento{
    display:none;
    width:350px;
    height:210px;
    position:fixed;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}

.Bloqueiopagamento{
    display:none;
    width:350px;
    height:260px;
    position:fixed;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}

#mascara{
    display:none;
    position:fixed;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}

#loading {
    width: 100%;
    height: 100%;
}

#loading {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 25px;
}

#loading span {
  display: block;
  position: absolute;
  top: 49%;
  width: 100%;
  text-align: center;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}
text{
  margin: 50px;
}

.amcharts-title{
  transform: translate(145px,30px)
}
.amcharts-title:nth-child(2){
  transform: translate(134px, 10px)
}